In [1]:
import pandas as pd

In [2]:
house_prices = pd.read_csv('house_prices.csv')

In [3]:
house_prices.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
house_prices.columns.to_series().groupby(house_prices.dtypes).groups

{dtype('int64'): ['Id',
  'MSSubClass',
  'LotArea',
  'OverallQual',
  'OverallCond',
  'YearBuilt',
  'YearRemodAdd',
  'BsmtFinSF1',
  'BsmtFinSF2',
  'BsmtUnfSF',
  'TotalBsmtSF',
  '1stFlrSF',
  '2ndFlrSF',
  'LowQualFinSF',
  'GrLivArea',
  'BsmtFullBath',
  'BsmtHalfBath',
  'FullBath',
  'HalfBath',
  'BedroomAbvGr',
  'KitchenAbvGr',
  'TotRmsAbvGrd',
  'Fireplaces',
  'GarageCars',
  'GarageArea',
  'WoodDeckSF',
  'OpenPorchSF',
  'EnclosedPorch',
  '3SsnPorch',
  'ScreenPorch',
  'PoolArea',
  'MiscVal',
  'MoSold',
  'YrSold',
  'SalePrice'],
 dtype('float64'): ['LotFrontage', 'MasVnrArea', 'GarageYrBlt'],
 dtype('O'): ['MSZoning',
  'Street',
  'Alley',
  'LotShape',
  'LandContour',
  'Utilities',
  'LotConfig',
  'LandSlope',
  'Neighborhood',
  'Condition1',
  'Condition2',
  'BldgType',
  'HouseStyle',
  'RoofStyle',
  'RoofMatl',
  'Exterior1st',
  'Exterior2nd',
  'MasVnrType',
  'ExterQual',
  'ExterCond',
  'Foundation',
  'BsmtQual',
  'BsmtCond',
  'BsmtExposure',
  'BsmtFinType1',
  'BsmtFinType2',
  'Heating',
  'HeatingQC',
  'CentralAir',
  'Electrical',
  'KitchenQual',
  'Functional',
  'FireplaceQu',
  'GarageType',
  'GarageFinish',
  'GarageQual',
  'GarageCond',
  'PavedDrive',
  'PoolQC',
  'Fence',
  'MiscFeature',
  'SaleType',
  'SaleCondition']}

**Задание**:

* разделить набор данных на кваритили по цене продажи;
* узнать средний YearBuilt в квартиле, средний Kitchen.
* перегруппировать по Functional и узнать среднюю цену в классе продаж.

In [5]:
quart_groups = house_prices.groupby(pd.qcut(house_prices.SalePrice, 4))

In [6]:
quart_groups.mean()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
SalePrice,,,,,,,,,,,,,,,,,,,,,
"[34900, 129975]",722.843836,57.863014,60.015244,7753.967123,4.810959,5.575342,1945.328767,1968.471233,29.879452,249.578082,...,42.263014,23.873973,37.369863,0.493151,3.978082,0.000000,37.709589,6.126027,2007.876712,105831.594521
"(129975, 163000]",752.841962,58.732970,67.559322,9509.997275,5.531335,5.888283,1962.885559,1979.757493,69.833787,451.166213,...,78.422343,28.416894,25.019074,2.773842,15.359673,1.307902,70.708447,6.247956,2007.828338,145041.885559
"(163000, 214000]",736.382514,61.666667,70.643110,10117.844262,6.420765,5.428962,1984.647541,1991.931694,99.470914,407.234973,...,108.857923,54.841530,12.139344,5.535519,19.366120,3.344262,40.792350,6.240437,2007.806011,185261.650273
"(214000, 755000]",709.621547,49.240331,83.128814,14726.715470,7.649171,5.406077,1992.392265,1999.430939,217.568245,668.486188,...,147.922652,79.859116,13.226519,4.845304,21.580110,6.419890,24.447514,6.676796,2007.751381,288619.552486

In [7]:
quart_groups['YearBuilt', 'KitchenAbvGr'].mean()

                    YearBuilt  KitchenAbvGr
SalePrice
[34900, 129975]   1945.328767      1.095890
(129975, 163000]  1962.885559      1.070845
(163000, 214000]  1984.647541      1.019126
(214000, 755000]  1992.392265      1.000000

In [8]:
func_groups = house_prices.groupby('Functional')
func_groups['SalePrice',].mean()

            SalePrice
Functional
Maj1           153948
Maj2            85800
Min1           146385
Min2           144240
Mod            168393
Sev            129000
Typ            183429